[paypal]
client_id = "YOUR_PAYPAL_SANDBOX_CLIENT_ID"
client_secret = "YOUR_PAYPAL_SANDBOX_CLIENT_SECRET"
environment = "sandbox"
return_url = "http://localhost:8501/"
cancel_url = "http://localhost:8501/?paypal=cancelled"
