[paypal]
client_id = "BAAt1nsa5qZ2HKc5GRhV2rZHA3ZUkpWGo690sFYs5T4DmdsDl-dboDhiz2ZrHe0MMIhDZ79lVxdFHXB_sI"
client_secret = "EA5rDOWnrlk0lYML_soCbv4w8ORjfvWYKc1xSxINVymBev1OCK-Qgsq8jqQGBeQKDbbFViw-ROZew6bW"
environment = "sandbox"
return_url = "http://localhost:8501/"
cancel_url = "http://localhost:8501/?paypal=cancelled"
