[paypal]
client_id = "AaU-n7wD63fzBWFlb2dzhUGFuwi1mgZ2wbYU8och8XTuEClsCbpoTxPVKx3dZLk3-SOpoZjVOSg0v-mQ"
client_secret = "EES949bWJiAhfp4heZZcuGZawgcfkL3oW6z4u8T-1Gi4LbDitgHrWYHeJaxNuI_LeaOqkqmM9xObS-E7"
environment = "sandbox"
return_url = "http://localhost:8501/"
cancel_url = "http://localhost:8501/?paypal=cancelled"
